.borders{
    border: 3px solid black;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #b2b2b2;
}
body{
    background-image:url("background.jpg"); 
    background-size: cover;
}


.addBut{
    margin-top:-9%;
    margin-left: 36%;
    width: 40px;
    padding: 10px;
}
.blur{
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

}

#newToDO,#displays{

    margin-top: 20%;
}

.borders:hover{ cursor:pointer;
          background-color: #282828;
         text-decoration: none;}
td,i:hover{cursor:pointer;
            text-decoration: none;}

.delBut,.addBut{
    background-color: Transparent;
    border-radius: 3px;
}